
<h1>Hello World!</h1>
<script id="entry-template" type="text/x-handlebars-template">
    <div class="entry">
        <h1>{{title}}</h1>
        <div class="body">
            {{body}}
        </div>
    </div>
</script>
<img src="<%= staticPath%>/img/webpack.png" alt="">

